<div class="row">
    <div class="col-md-7">
        <h2>Background</h2>
        <p>
        <p>Education paradigms have shifted to include online learning and existing research has shown that gamification, the use of gaming concepts, is becoming more prevelant as a way of engaging students as it gives an incentive to learn over traditional classroom based methods.</p>
        The aim of this site is therefore to gather data through participants partaking in either a traditional or gamified way of learning where the only thing in common between the two will be the teaching material.
        </p>
    </div>
    <div class="col-md-5">
        <h2>Getting started</h2>
        <p>You register or login as a returning user using the following links. If you are new to the site, further information will be available on the registration page.</p>
        <p>
            @Html.ActionLink("Register »", "Register", "Student", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Login »", "Login", "Student", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>
