<div class="row">
    <div class="col-md-7">
        <h2>Background</h2>
        <p>
        <p>Education paradigms have shifted to include online learning and existing research has shown that gamification, the use of gaming concepts, is becoming more prevelant as a way of engaging students as it gives an incentive to learn over traditional classroom based methods.</p>
        The aim of this site is therefore to gather data through participants partaking in either a traditional or gamified way of learning where the only thing in common between the two will be the teaching material.
        </p>
    </div>
    <div class="col-md-5">
        <h2>Research is complete</h2>
        <p>My Masters Degree project is now complete and so registration and login have been disabled. The ethical considerations stated at registration have remained unchanged and your username is still as anonymous as when you created it. For those who took part, thank you.</p>
        <p>If you would be interested in learning more about the results of my research, please use the Contact page to get in touch.</p>
        <p>
            @Html.ActionLink("Contact", "Index", "Contact", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>
