<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="T802Context" connectionString="Data Source=y12f2ba2de.database.windows.net,1433;Initial Catalog=OODTutor_Prod;Integrated Security=False;Persist Security Info=False;User ID=sleaver@y12f2ba2de;Password=Abb0tsham;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>