@{
    ViewBag.Title = "Dependency Inversion Principle";
}<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

<h2>Dependency Inversion Principle</h2>

<div class="row">
    <div class="col-xs-3" id="myScrollspy">
        <ul class="nav nav-tabs nav-stacked affix-top" data-spy="affix" data-offset-top="125">
            <li class="active"><a href="#section-0">Definition</a></li>
            <li><a href="#section-1">Motivation</a></li>
            <li><a href="#section-2">Intent</a></li>
            <li><a href="#section-3">Example</a></li>
            <li><a href="#section-4">Conclusion</a></li>
        </ul>
    </div>
    <div class="col-xs-9">
        <h2 id="section-0">Definition</h2>
        <p>
            In object-oriented programming, the dependency inversion principle refers to a specific form of decoupling software modules. When following this principle, the conventional dependency relationships established from high-level, policy-setting modules to low-level, dependency modules are inverted (i.e. reversed), thus rendering high-level modules independent of the low-level module implementation details. The principle states:
        </p>
        <p>
            <dl class="dl-horizontal">
                <dt>A.</dt>
                <dd>High-level modules should not depend on low-level modules. Both should depend on abstractions.</dd>
                <dt>B.</dt>
                <dd>Abstractions should not depend on details. Details should depend on abstractions.</dd>
            </dl>
        </p>
        <p>
            The principle inverts the way some people may think about object-oriented design, dictating that both high- and low-level objects must depend on the same abstraction.[2]
        </p>
        @Html.CreditLink("https://en.wikipedia.org/wiki/Dependency_inversion_principle", "Wikipedia - Dependency inversion principle")
        <br/><br/>
        @Html.Blockquote("Depend on abstractions, not on concretions.", "Martin Fowler (http://butunclebob.com/ArticleS.UncleBob.PrinciplesOfOod)")
        <hr>
        <h2 id="section-1">Motivation</h2>
        <p>When we design software applications we can consider the low level classes the classes which implement basic and primary operations(disk access, network protocols,...) and high level classes the classes which encapsulate complex logic(business flows, ...). The last ones rely on the low level classes. A natural way of implementing such structures would be to write low level classes and once we have them to write the complex high level classes. Since high level classes are defined in terms of others this seems the logical way to do it. But this is not a flexible design. What happens if we need to replace a low level class?</p>
        <p>Let's take the classical example of a copy module which reads characters from the keyboard and writes them to the printer device. The high level class containing the logic is the Copy class. The low level classes are KeyboardReader and PrinterWriter.</p>
        <p>In a bad design the high level class uses directly and depends heavily on the low level classes. In such a case if we want to change the design to direct the output to a new FileWriter class we have to make changes in the Copy class. (Let's assume that it is a very complex class, with a lot of logic and really hard to test).</p>
        <p>In order to avoid such problems we can introduce an abstraction layer between high level classes and low level classes. Since the high level modules contain the complex logic they should not depend on the low level modules so the new abstraction layer should not be created based on low level modules. Low level modules are to be created based on the abstraction layer.</p>
        <p>According to this principle the way of designing a class structure is to start from high level modules to the low level modules:</p>
        <ul><li>High Level Classes --> Abstraction Layer --> Low Level Classes</li></ul>
        <hr>
        <h2 id="section-2">Intent</h2>
        <ul><li>High-level modules should not depend on low-level modules. Both should depend on abstractions.</li><li>Abstractions should not depend on details. Details should depend on abstractions.</li></ul>
        <hr>
        <h2 id="section-3">Example</h2>
        <p>Below is an example which violates the Dependency Inversion Principle. We have the manager class which is a high level class, and the low level class called Worker. We need to add a new module to our application to model the changes in the company structure determined by the employment of new specialized workers. We created a new class SuperWorker for this.</p>
        <p>Let's assume the Manager class is quite complex, containing very complex logic. And now we have to change it in order to introduce the new SuperWorker. Let's see the disadvantages:</p>
        <ul><li>we have to change the Manager class (remember it is a complex one and this will involve time and effort to make the changes).</li><li>some of the current functionality from the manager class might be affected.</li><li>the unit testing should be redone.</li></ul>
        <p>All those problems could take a lot of time to be solved and they might induce new errors in the old functionlity. The situation would be different if the application had been designed following the Dependency Inversion Principle. It means we design the manager class, an IWorker interface and the Worker class implementing the IWorker interface. When we need to add the SuperWorker class all we have to do is implement the IWorker interface for it. No additional changes in the existing classes.</p>
        <pre class=prettyprint>
class Worker {
	public void work() {
		// ....working
	}
}
class Manager {
	Worker worker;
	public void setWorker(Worker w) {
		worker = w;
	}
	public void manage() {
		worker.work();
	}
}
class SuperWorker {
	public void work() {
		//.... working much more
	}
}
        </pre>
        <p>Below is the code which supports the Dependency Inversion Principle. In this new design a new abstraction layer is added through the IWorker Interface. Now the problems from the above code are solved(considering there is no change in the high level logic):</p>
        <ul><li>Manager class doesn't require changes when adding SuperWorkers.</li><li>Minimized risk to affect old functionality present in Manager class since we don't change it.</li><li>No need to redo the unit testing for Manager class.</li></ul>
        <pre class=prettyprint>
interface IWorker {
	public void work();
}
class Worker implements IWorker{
	public void work() {
		// ....working
	}
}
class SuperWorker  implements IWorker{
	public void work() {
		//.... working much more
	}
}
class Manager {
	IWorker worker;
	public void setWorker(IWorker w) {
		worker = w;
	}
	public void manage() {
		worker.work();
	}
}
        </pre>
        <hr>
        <h2 id="section-4">Conclusion</h2>
        <p>When this principle is applied it means the high level classes are not working directly with low level classes, they are using interfaces as an abstract layer. In this case instantiation of new low level objects inside the high level classes(if necessary) can not be done using the operator new. Instead, some of the Creational design patterns can be used, such as Factory Method, Abstract Factory, Prototype.</p>
        <p>The Template Design Pattern is an example where the DIP principle is applied.</p>
        <p>Of course, using this principle implies an increased effort, will result in more classes and interfaces to maintain, in a few words in more complex code, but more flexible. This principle should not be applied blindly for every class or every module. If we have a class functionality that is more likely to remain unchanged in the future there is not need to apply this principle.</p>
    </div>
    @Html.CreditLink("http://www.oodesign.com/dependency-inversion-principle.html", "OODesign.com - Dependency inversion principle")
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
